<div class="student-rules d-flex align-items-center w-90 p-4">
    <div class="carousel slide" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner mt-4">
            <div class="carousel-item active">
                <div class="rules-text">1 - Encontre um lugar que você confie e confie nele por um tempo.</div>
            </div>
            <div class="carousel-item">
                <div class="rules-text">2 - Deveres gerais de um estudante: extraia tudo o que puder dos seus
                    professores; extraia tudo o que puder de seus colegas.</div>
            </div>
            <div class="carousel-item">
                <div class="rules-text">3 - Deveres gerais de um professor: extraia tudo o que puder dos seus alunos.
                </div>
            </div>
            <div class="carousel-item">
                <div class="rules-text">4 - Considere tudo um experimento.</div>
            </div>
            <div class="carousel-item">
                <div class="rules-text">5 - Seja auto-disciplinado - isto significa encontrar uma pessoa sábia ou
                    inteligente e segui-la. Ser disciplinado é seguir de uma forma positiva. Ser auto-disciplinado
                    é seguir alguém da melhor forma possível.</div>
            </div>
            <div class="carousel-item">
                <div class="rules-text">6 - Não existem erros. Não há vitória ou fracasso, há apenas o fazer.</div>
            </div>
            <div class="carousel-item">
                <div class="rules-text">7 - A única regra é trabalhar. Se você trabalha, isto lhe levará a algo.
                    São as pessoas que fazem todo o trabalho a todo tempo que, eventualmente, encontram algo.</div>
            </div>
            <div class="carousel-item">
                <div class="rules-text">8 - Não tente criar e analisar ao mesmo tempo. São processos diferentes.</div>
            </div>
            <div class="carousel-item">
                <div class="rules-text">9 - Seja feliz sempre que puder. Aproveite. A vida é mais leve do que você
                    pensa.
                </div>
            </div>
            <div class="carousel-item">
                <div class="rules-text">10 - Estamos quebrando todas as regras. Inclusive as nossas próprias.
                    E como fazemos isso? Deixando bastante espaço para o desconhecido e inesperado.</div>
            </div>
            <div class="carousel-item">
                <div class="rules-text">DICAS - Esteja sempre presente. Vá e veja tudo que puder. Sempre assista às
                    aulas.
                    Leia tudo que aparecer na sua frente. Assista filmes com frequência e atenção.
                    Guarde tudo: poderá ser útil mais a frente.</div>
            </div>
        </div>
        </a>
    </div>
</div>
<span class="mt-2">10 Regras para Alunos e Professores <i>por John Cage</i></span>